# IA340 Mini Project 
**Project Name**Passanger regional origin coming into San Fransisco by Air

## Data sourced from 
**Source**https://catalog.data.gov/dataset/air-traffic-passenger-statistics

**Description**San Francisco International Airport Report on Monthly Passenger Traffic Statistics by Airline

**Time Period**1999-2025

**Reason for choice**Matches my interest in aviation

## Research Question
Question: What geographic region of the world has increased or decreased travel to the CIty of San Fransisco, and where does each region stand in the present day

# Data Analysis

In [2]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd
df = pd.read_csv('s3://ia340466879/Air_Traffic_Passenger_Statistics.csv') # load the data from s3
df.head() #show the top 5 rows

,Activity Period,Activity Period Start Date,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,data_as_of,data_loaded_at
0,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,31432,2025/09/20 01:01:11 PM,2025/09/22 03:10:03 PM
1,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,31353,2025/09/20 01:01:11 PM,2025/09/22 03:10:03 PM
2,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,2518,2025/09/20 01:01:11 PM,2025/09/22 03:10:03 PM
3,199907,1999/07/01,Aeroflot Russian International Airlines,NaN,Aeroflot Russian International Airlines,NaN,International,Europe,Deplaned,Other,Terminal 2,D,1324,2025/09/20 01:01:11 PM,2025/09/22 03:10:03 PM
4,199907,1999/07/01,Aeroflot Russian International Airlines,NaN,Aeroflot Russian International Airlines,NaN,International,Europe,Enplaned,Other,Terminal 2,D,1198,2025/09/20 01:01:11 PM,2025/09/22 03:10:03 PM

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38546 entries, 0 to 38545
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Activity Period              38546 non-null  int64
 1   Activity Period Start Date   38546 non-null  object
 2   Operating Airline            38546 non-null  object
 3   Operating Airline IATA Code  38230 non-null  object
 4   Published Airline            38546 non-null  object
 5   Published Airline IATA Code  38230 non-null  object
 6   GEO Summary                  38546 non-null  object
 7   GEO Region                   38546 non-null  object
 8   Activity Type Code           38546 non-null  object
 9   Price Category Code          38546 non-null  object
 10  Terminal                     38546 non-null  object
 11  Boarding Area                38546 non-null  object
 12  Passenger Count              38546 non-null  int64
 13  data_as_of                   38546 non-null  object
 14  data_loaded_at               38546 non-null  object
dtypes: int64(2), object(13)
memory usage: 4.4+ MB

In [4]:
df.describe()

       Activity Period  Passenger Count
count     38546.000000     38546.000000
mean     201283.855316     27831.143024
std         763.768513     61960.415974
min      199907.000000         0.000000
25%      200610.000000      4359.000000
50%      201309.000000      8599.500000
75%      201908.000000     19657.000000
max      202507.000000    856501.000000

In [6]:
df.shape

(38546, 15)

# Clean data

In [7]:
df.isnull().sum

<bound method DataFrame.sum of        Activity Period  Activity Period Start Date  Operating Airline  \
0                False                       False              False
1                False                       False              False
2                False                       False              False
3                False                       False              False
4                False                       False              False
...                ...                         ...                ...
38541            False                       False              False
38542            False                       False              False
38543            False                       False              False
38544            False                       False              False
38545            False                       False              False

       Operating Airline IATA Code  Published Airline  \
0                            False              False
1                            False              False
2                            False              False
3                             True              False
4                             True              False
...                            ...                ...
38541                        False              False
38542                        False              False
38543                        False              False
38544                        False              False
38545                        False              False

       Published Airline IATA Code  GEO Summary  GEO Region  \
0                            False        False       False
1                            False        False       False
2                            False        False       False
3                             True        False       False
4                             True        False       False
...                            ...          ...         ...
38541                        False        False       False
38542                        False        False       False
38543                        False        False       False
38544                        False        False       False
38545                        False        False       False

       Activity Type Code  Price Category Code  Terminal  Boarding Area  \
0                   False                False     False          False
1                   False                False     False          False
2                   False                False     False          False
3                   False                False     False          False
4                   False                False     False          False
...                   ...                  ...       ...            ...
38541               False                False     False          False
38542               False                False     False          False
38543               False                False     False          False
38544               False                False     False          False
38545               False                False     False          False

       Passenger Count  data_as_of  data_loaded_at
0                False       False           False
1                False       False           False
2                False       False           False
3                False       False           False
4                False       False           False
...                ...         ...             ...
38541            False       False           False
38542            False       False           False
38543            False       False           False
38544            False       False           False
38545            False       False           False

[38546 rows x 15 columns]>

In [8]:
df = df.dropna()
df.isnull().sum()

Activity Period                0
Activity Period Start Date     0
Operating Airline              0
Operating Airline IATA Code    0
Published Airline              0
Published Airline IATA Code    0
GEO Summary                    0
GEO Region                     0
Activity Type Code             0
Price Category Code            0
Terminal                       0
Boarding Area                  0
Passenger Count                0
data_as_of                     0
data_loaded_at                 0
dtype: int64

# Process/Agriggate

In [10]:
Region_Passanger=df.groupby('GEO Region')['Passenger Count'].count() 
Region_Passanger.head()

GEO Region
Asia                   8306
Australia / Oceania    1983
Canada                 3618
Central America         947
Europe                 6293
Name: Passenger Count, dtype: int64

This shows how many passangers from each region have visitied San Fransisco Airports. From the data we can see the Asia has the most with Euope being second and the Region with the least amount of people visisitng by air is Central America

# AI setup

In [16]:
import boto3
from botocore.exceptions import ClientError
import json

def get_secret(secret_name):
    region_name = "us-east-1"

    # Create a Secrets Manager client
    session = boto3.session.Session()
    client = session.client(
        service_name='secretsmanager',
        region_name=region_name
    )

    try:
        get_secret_value_response = client.get_secret_value(
            SecretId=secret_name
        )
    except ClientError as e:
        raise e

    secret = get_secret_value_response['SecretString']
    
    return json.loads(secret)

In [21]:
pip install -U pip setuptools wheel

Requirement already satisfied: pip in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (25.2)
Requirement already satisfied: setuptools in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (80.9.0)
Requirement already satisfied: wheel in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (0.45.1)
Note: you may need to restart the kernel to use updated packages.

In [22]:
pip install --only-binary=:all: "tiktoken>=0.7.0"

Collecting tiktoken>=0.7.0
  Downloading tiktoken-0.11.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.7 kB)
Requirement already satisfied: regex>=2022.1.18 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from tiktoken>=0.7.0) (2025.9.18)
Requirement already satisfied: requests>=2.26.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from tiktoken>=0.7.0) (2.32.5)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests>=2.26.0->tiktoken>=0.7.0) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests>=2.26.0->tiktoken>=0.7.0) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests>=2.26.0->tiktoken>=0.7.0) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests>=2.26.0->tiktoken>=0.7.0) (2025.8.3)
Downloading tiktoken-0.11.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 60.5 MB/s  0:00:00
Installing collected packages: tiktoken
Successfully installed tiktoken-0.11.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install "jupyter-ai-magics[all]" -q

In [18]:
import warnings
warnings.simplefilter('ignore')

In [19]:
import os
os.environ["OPENAI_API_KEY"] = get_secret('openai')['api_key']

In [20]:
%load_ext jupyter_ai_magics

ModuleNotFoundError: No module named 'jupyter_ai_magics'

In [ ]:
%%ai gpt4 -f code
Write a vidualization that shows the change in time of passangers from Asia